NODE_ENV=development

PORT=3928

APPLICATION_TYPE=sigma-cloud-neppo-integration

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=1h

LOG_LEVEL=debug

ERROR_LOG_MAX_SIZE=20m
ERROR_LOG_MAX_FILES=30d

WARN_LOG_MAX_SIZE=15m
WARN_LOG_MAX_FILES=14d

INFO_LOG_MAX_SIZE=10m
INFO_LOG_MAX_FILES=7d

DEBUG_LOG_MAX_SIZE=5m
DEBUG_LOG_MAX_FILES=3d

EXCEPTION_LOG_MAX_SIZE=20m
EXCEPTION_LOG_MAX_FILES=30d

REJECTION_LOG_MAX_SIZE=20m
REJECTION_LOG_MAX_FILES=30d

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100

STORAGE_DATABASE_URI=mysql://root:root@127.0.0.1:3306/storage

SIGMA_CLOUD_BEARER_TOKEN=""

API_GATEWAY_USERNAME=query_gateway_username
API_GATEWAY_PASSWORD=query_gateway_password

NEPPO_TOKEN=""
